/* @import url('./Variables.css'); */

@media screen and (max-width: 375px) {
}

@media screen and (max-width: 1440px) {
  .App {
    width: 45vw;
  }

  .App-pricing__billing {
    padding: 1rem 1rem 2rem 1rem;

    display: grid;
    row-gap: 20px;
    grid-template-areas:
      "pageviews price"
      "slider slider"
      "billing-period billing-period";
    grid-template-rows: 50px 1fr 4fr;
    grid-template-columns: 1fr 1fr;
  }

  .App-pricing__billing > #pageviews {
    grid-area: pageviews;
    align-self: center;
    margin-left: 10%;
  }

  .App-pricing__billing > #slider {
    grid-area: slider;
    align-self: center;
  }

  .App-pricing__billing > #price {
    grid-area: price;
    align-self: center;
    text-align: right;
    margin-right: 10%;
  }

  .App-pricing__billing > #billing-period {
    grid-area: billing-period;
    align-self: center;
  }

  .App-pricing-action {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1.5rem 2rem 3rem 2rem;
  }

  .App-pricing-action__text {
    display: flex;
    flex-direction: column;
  }
}
